<script>
  function changeReply(reply,author) {
      debugger;
      $('#reply-input').val(reply);
      if (reply != "") {
          $('#response-to').text(author);
          $('#response-msg').show();
      } else {
          $('#response-msg').hide();
      }
  }
</script>

<div class="row" id="play-game">
  <div class="col-sm-6 col-sm-offset-1">
    <canvas width="600" height="600" style="background-color: black" id="screen-<%= @game.name %>" class="game-canvas"></canvas>
    <%= javascript_include_tag "#{@game.name}.js" %>
  </div>
  <div class="col-sm-4">
    <div id="game-funding-info">
      <h3><%= @game.display_name %></h3>
      <div id="progress-bar">
        <div id="completed"></div>
      </div>
      <div class="main-info" id="current-fund">$<%= @game.current_fund %></div>
      <div class="text-labels">pledged of the $<%= @game.fund_goal %> goal</div>
      <div class="main-info"><%= @game.nmb_backers %></div>
      <div class="text-labels">backers</div>
      <div class="main-info" id="days-left"></div>
      <div class="text-labels">days to go</div>
      <div id="funding-box">
        <div id="backing-button">Back this project</div>
        <!-- Stripe -->
        <%= form_tag charges_path, id:'chargeForm' do %>

            <!-- display errors -->
            <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
            <% end %>

            <!-- form fields -->
            <article>
              <%= label_tag(:amount, 'Donation Amount:') %><br>
              <%= text_field_tag(:amount) %>
            </article>
            <%= hidden_field_tag 'stripeToken' %>
            <%= hidden_field_tag 'stripeEmail' %>
            <%= hidden_field_tag 'amount', 500 %>

            <!-- button launches form -->
            <button id='donateButton' type="button" class="btn btn-success">Sponsor this game!</button>

            <!-- necessary scripts for the form submit-->
            <script src="https://checkout.stripe.com/checkout.js"></script>

            <script>

                //handler object is configured with a few options, including the public API key and a call back for the token.
                var handler = StripeCheckout.configure({
                    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                    locale: 'auto',
                    name: 'Be A Game Changer',
                    description: 'Sponsor this game',
                    token: function(token, arg) {
                        document.getElementById("stripeToken").value = token.id;
                        document.getElementById("stripeEmail").value = token.email;
                        document.getElementById("chargeForm").submit();
                    }
                });

                //when the user clicks on the button,
                //the javascript verifies the amount specified and
                //if valid, launches the chekout.
                $('#donateButton').on('click', function(e) {
                    e.preventDefault();

                    $('#error_explanation').html('');

                    var amount = $('input#amount').val();
                    amount = amount.replace(/\$/g, '').replace(/\,/g, '')

                    amount = parseFloat(amount);

                    if (isNaN(amount)) {
                        $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
                    }
                    else if (amount < 5.00) {
                        $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
                    }
                    else {
                        amount = amount * 100; // Needs to be an integer!
                        handler.open({
                            amount: Math.round(amount)
                        })
                    }
                });

                // Close Checkout on page navigation
                $(window).on('popstate', function() {
                    handler.close();
                });

            </script>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row" id="comment-section">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-content">
      <h1>Comments</h1>

      <% if @comments.length != 0 %>
        <% @comments.each do |c| %>
              <div class="row">
                <% if c.reply == c.id %>
                  <div class="col-sm-12">
                    <div class="row comments">
                          <div class="col-sm-2 auth">
                            <%= image_tag('pp.jpg', alt: c.author, size:'25x25') %>
                            <span class="author"><%= c.author %></span>
                            <div class="comment-date">
                              <%= c.created_at %>
                            </div>
                          </div>
                          <div class="com-separation"></div>
                          <div class="col-sm-9">
                            <%= c.text %><br>
                            <button type="button" onclick="changeReply('<%= c.reply %>','<%= c.author %>')">Reply</button>
                          </div>
                    </div>
                  </div>
                <% else %>
                  <div class="col-sm-11 col-sm-offset-1">
                    <div class="row comments">
                      <div class="col-sm-3 auth">
                        <%= image_tag('pp.jpg', alt: c.author, size:'25x25') %>
                        <span class="author"><%= c.author %></span>
                        <div class="comment-date">
                          <%= c.created_at %>
                        </div>
                      </div>
                      <div class="com-separation"></div>
                      <div class="col-sm-8">
                        <%= c.text %><br>
                        <button type="button" onclick="changeReply('<%= c.reply %>','<%= c.author %>')">Reply</button>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
        <% end %>
      <% else %>
        <div class="row">
          <div class="col-sm-12">
            Nobody has commented on this game yet.
          </div>
        </div>
      <% end %>

      <div id="response-msg">(In response to <span id="response-to"></span>)
        <button onclick="changeReply('','')">Cancel</button><br>
      </div>
      <form action="/play_game/add_comment" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <textarea placeholder="Write a comment here" name="comment[text]" rows="3" cols="80"  id="comment" ></textarea><br>
        <input type="hidden" name="comment[game]" value="<%= @game.id %>">
        <input type="hidden" name="comment[reply]" value="" id="reply-input">
        <input type="submit" value="Send">
      </form>
    </div>
  </div>
</div>

<script>
  //remove scrolling with space bar
    $(document).keydown(function(e) {
        if (e.which == 32 && e.target == document.body) {
            e.preventDefault();
        }
    });

    reloadPage();
    loadProgressBar();
    loadDaysLeft();

    $(document).ready(function(){
        $('#backing-button').click(function(){
            $('#chargeForm').slideToggle();
        });
    });

    function reloadPage() {
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    }

    function loadProgressBar() {
        var fund_goal = parseInt("<%= @game.fund_goal %>");
        var fund = parseInt("<%= @game.current_fund %>");
        var completed_width = (fund / fund_goal) * $('#progress-bar').width();
        $('#completed').animate({
            width: completed_width
        }, 2000 );
    }

    function loadDaysLeft() {
        var current = moment();
        var last = moment("<%= @game.created_at %>".replace(' UTC','')).add(parseInt("<%= @game.nmb_backers %>"),'d');
        var days_left = current.diff(last, 'days') + 1;
        $('#days-left').text(days_left);
    }
</script>