<div class="row" id="play-game">
  <div class="col-sm-6 col-sm-offset-1">
    <canvas width="600" height="600" style="background-color: black" id="screen-<%= @game.name %>" class="game-canvas"></canvas>
  </div>
  <div class="col-sm-4">
    <div id="game-funding-info">
      <h3><%= @game.display_name %></h3>
      <div id="progress-bar">
        <div id="completed"></div>
      </div>
      <div class="main-info" id="current-fund">$<%= @game.current_fund %></div>
      <div class="text-labels">pledged of the $<%= @game.fund_goal %> goal</div>
      <div class="main-info"><%= @game.nmb_backers %></div>
      <div class="text-labels">backers</div>
      <div class="main-info" id="days-left"></div>
      <div class="text-labels">days to go</div>
      <a href="https://www.kickstarter.com/projects/1343822689/raji-an-ancient-epic/pledge/new?clicked_reward=false&ref=home_featured&refresh=1"><%= image_tag('examplefund.png', width: 400) %></a>
    </div>
  </div>
</div>

<div class="row" id="comment-section">
  <div class="col-sm-10 col-sm-offset-1">
    <h1>Comments</h1>
    <h4>Subject: Great Game!</h4>
    <h5><a href="#">Arjun Gupta</a> 20/11/2017 at 04:21am.</h5>
    <p>Great game man, I chipped in $20. You should probably slow the speed of the cube or make it easier to take corners, but apart from that, it's very satisfying!</p>
    <textarea placeholder="Write a comment here" name="message" rows="3" cols="80"  id="comment" ></textarea><br>
    <input type="submit" value="Submit">
  </div>
</div>

<script>
    reloadPage();
    loadProgressBar();
    loadDaysLeft();

    function reloadPage() {
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    }

    function loadProgressBar() {
        var fund_goal = parseInt("<%= @game.fund_goal %>");
        var fund = parseInt("<%= @game.current_fund %>");
        var completed_width = (fund / fund_goal) * $('#progress-bar').width();
        $('#completed').animate({
            width: completed_width
        }, 2000 );
    }

    function loadDaysLeft() {
        var current = moment();
        var last = moment("<%= @game.created_at %>".replace(' UTC','')).add(parseInt("<%= @game.nmb_backers %>"),'d');
        var days_left = current.diff(last, 'days') + 1;
        $('#days-left').text(days_left);
    }
</script>