<!DOCTYPE html>
<html>
  <head>
    <title>GAMEChanger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'joystick.png', type: 'image/png' %>

  </head>

  <body>
    <div id="container" class="container-fluid">
      <header>
        <nav id="navbar">
          <div class="row" id="row-header">
            <div class="col-sm-2 col-sm-offset-1">
                <a id="home-btn" href="/">GAME|Changer</a>
            </div>
            <div class="col-sm-5 col-sm-offset-3">
              <table id="navmenu">
                <tr>
                  <td><a href="/">Home</a></td>
                  <td><a href="/games">Games</a></td>
                  <td><a href="/developers">Developers</a></td>
                  <td><a href="/contact">Contact</a></td>
                  <td>
                    <div class="dropdown" style="float:right;">
                      <button class="dropbtn">User</button>
                      <div class="dropdown-content">
                        <% if user_signed_in? %>
                            <div id="logged-in">Logged in as:<br><strong><%= current_user.email %></strong></div>
                            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
                            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                        <% else %>
                            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
                            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <span id="login">

          </span>
        </nav>
      </header>

      <main>
        <%= yield %>
      </main>

      <footer>
        GameChanger Inc. © 2017
      </footer>
    </div>
  </body>
</html>
